<div class="loader-bg">
    <div class="loader-track">
      <div class="loader-fill"></div>
    </div>
  </div>
  <!-- [ Pre-loader ] End -->
   <!-- [ Sidebar Menu ] start -->
  <nav class="pc-sidebar">
    <div class="navbar-wrapper">
      <div class="m-header">
        <a href="dashboard/index.html" class="b-brand text-primary">
          <!-- ========   Change your logo from here   ============ -->
          <img src="assets/img/logooooo-removebg-preview.png" style="width: 150px; margin-top: 30px; " class="img-fluid logo-lg" alt="logo">
        </a>
      </div>


      <div class="navbar-content">
        <ul class="pc-navbar">
          <li class="pc-item">
            <a href="../dashboard/index.html" class="pc-link">
              <span class="pc-micon"><i class="ti ti-dashboard"></i></span>
              <span class="pc-mtext">Dashboard</span>
            </a>
          </li>
  
          
          <li class="pc-item pc-caption">
            <label>Pages</label>
            <li class="pc-item">
              <a class="pc-link" >
                <span class="pc-micon"><i class="fa fa-lock" aria-hidden="true"></i></span>
                <span class="pc-mtext">Appointments</span>
              </a>
            </li>
            
          <li class="pc-item">
            <a href="pages/register.html" class="pc-link">
              <span class="pc-micon"><i class="fa fa-credit-card" aria-hidden="true"></i>
              </span>
              <span class="pc-mtext">Transactions</span>
            </a>
          </li>
          <li class="pc-item">
            <a href="pages/register.html" class="pc-link">
              <span class="pc-micon"><i class="fa fa-star" aria-hidden="true"></i></span>
              <span class="pc-mtext">Reviews</span>
            </a>
          </li>
          <li class="pc-item">
            <a href="pages/register.html" class="pc-link">
              <span class="pc-micon"><i class="fa fa-bed" aria-hidden="true"></i></span>
              <span class="pc-mtext">Visits</span>
            </a>
          </li>
  
          <li class="pc-item pc-caption">
            <label>Other</label>
            <i class="ti ti-brand-chrome"></i>
          
       
          <li class="pc-item">
            <a href="../other/sample-page.html" class="pc-link">
              <span class="pc-micon"><i class="ti ti-brand-chrome"></i></span>
              <span class="pc-mtext">Sample page</span>
            </a>
          </li>
        </ul>
        
        </div>
      </div>

  </nav>

  !-- [ Sidebar Menu ] end --> <!-- [ Header Topbar ] start -->
  <header class="pc-header">
    <div class="header-wrapper"> <!-- [Mobile Media Block] start -->
  <div class="me-auto pc-mob-drp">
    <ul class="list-unstyled">
      <!-- ======= Menu collapse Icon ===== -->
      <li class="pc-h-item pc-sidebar-collapse">
        <a href="#" class="pc-head-link ms-0" id="sidebar-hide">
          <i class="ti ti-menu-2"></i>
        </a>
      </li>
      <li class="pc-h-item pc-sidebar-popup">
        <a href="#" class="pc-head-link ms-0" id="mobile-collapse">
          <i class="ti ti-menu-2"></i>
        </a>
      </li>
      <li class="dropdown pc-h-item d-inline-flex d-md-none">
        <a
          class="pc-head-link dropdown-toggle arrow-none m-0"
          data-bs-toggle="dropdown"
          href="#"
          role="button"
          aria-haspopup="false"
          aria-expanded="false"
        >
          <i class="ti ti-search"></i>
        </a>
        <div class="dropdown-menu pc-h-dropdown drp-search">
          <form class="px-3">
            <div class="form-group mb-0 d-flex align-items-center">
              <i data-feather="search"></i>
              <input type="search" class="form-control border-0 shadow-none" placeholder="Search here. . .">
            </div>
          </form>
        </div>
      </li>
      <li class="pc-h-item d-none d-md-inline-flex">
        <form class="header-search">
          <i data-feather="search" class="icon-search"></i>
          <input type="search" class="form-control" placeholder="Search here. . .">
        </form>
      </li>
    </ul>
  </div>
  <!-- [Mobile Media Block end] -->
  <div class="ms-auto">
    <ul class="list-unstyled">
      <li class="dropdown pc-h-item">
        <a
          class="pc-head-link dropdown-toggle arrow-none me-0"
          data-bs-toggle="dropdown"
          href="#"
          role="button"
          aria-haspopup="false"
          aria-expanded="false"
        >
          <i class="ti ti-mail"></i>
        </a>
        <div class="dropdown-menu dropdown-notification dropdown-menu-end pc-h-dropdown">
          <div class="dropdown-header d-flex align-items-center justify-content-between">
            <h5 class="m-0">Message</h5>
            <a href="#!" class="pc-head-link bg-transparent"><i class="ti ti-x text-danger"></i></a>
          </div>
          <div class="dropdown-divider"></div>
          <div class="dropdown-header px-0 text-wrap header-notification-scroll position-relative" style="max-height: calc(100vh - 215px)">
            <div class="list-group list-group-flush w-100">
              <a class="list-group-item list-group-item-action">
                <div class="d-flex">
                  <div class="flex-shrink-0">
                    <img src="../assets/images/user/avatar-2.jpg" alt="user-image" class="user-avtar">
                  </div>
                  <div class="flex-grow-1 ms-1">
                    <span class="float-end text-muted">3:00 AM</span>
                    <p class="text-body mb-1">It's <b>Cristina danny's</b> birthday today.</p>
                    <span class="text-muted">2 min ago</span>
                  </div>
                </div>
              </a>
              <a class="list-group-item list-group-item-action">
                <div class="d-flex">
                  <div class="flex-shrink-0">
                    <img src="../assets/images/user/avatar-1.jpg" alt="user-image" class="user-avtar">
                  </div>
                  <div class="flex-grow-1 ms-1">
                    <span class="float-end text-muted">6:00 PM</span>
                    <p class="text-body mb-1"><b>Aida Burg</b> commented your post.</p>
                    <span class="text-muted">5 August</span>
                  </div>
                </div>
              </a>
              <a class="list-group-item list-group-item-action">
                <div class="d-flex">
                  <div class="flex-shrink-0">
                    <img src="../assets/images/user/avatar-3.jpg" alt="user-image" class="user-avtar">
                  </div>
                  <div class="flex-grow-1 ms-1">
                    <span class="float-end text-muted">2:45 PM</span>
                    <p class="text-body mb-1"><b>There was a failure to your setup.</b></p>
                    <span class="text-muted">7 hours ago</span>
                  </div>
                </div>
              </a>
              <a class="list-group-item list-group-item-action">
                <div class="d-flex">
                  <div class="flex-shrink-0">
                    <img src="../assets/images/user/avatar-4.jpg" alt="user-image" class="user-avtar">
                  </div>
                  <div class="flex-grow-1 ms-1">
                    <span class="float-end text-muted">9:10 PM</span>
                    <p class="text-body mb-1"><b>Cristina Danny </b> invited to join <b> Meeting.</b></p>
                    <span class="text-muted">Daily scrum meeting time</span>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="dropdown-divider"></div>
          <div class="text-center py-2">
            <a href="#!" class="link-primary">View all</a>
          </div>
        </div>
      </li>
    </ul></div>

</div>
  </header>
  <!-- [ Header ] end -->
   <!-- [ Main Content ] start -->
   <div class="pc-container">
    <div class="pc-content">
      <!-- [ breadcrumb ] start -->
      <div class="page-header">
        <div class="page-block">
          <div class="row align-items-center">
            <div class="col-md-12">
              <div class="page-header-title">
                <h5 class="m-b-10">Home</h5>
              </div>
              <ul class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="about">Home</a></li>
                <li class="breadcrumb-item"><a href="javascript: void(0)">Dashboard</a></li>
                <li class="breadcrumb-item" aria-current="page">Home</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- [ breadcrumb ] end -->
      <!-- [ Main Content ] start -->
      <div class="row">
        <!-- [ sample-page ] start -->
        <div class="col-md-6 col-xl-3">
          <div class="card">
            <div class="card-body">
              <h6 class="mb-2 f-w-400 text-muted">Total Appointments</h6>
              <h4 class="mb-3">4 <span class="badge bg-light-primary border border-primary"><i
                    class="ti ti-trending-up"></i> 59.3%</span></h4>
             
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xl-3">
          <div class="card">
            <div class="card-body">
              <h6 class="mb-2 f-w-400 text-muted">Total Appointments</h6>
              <h4 class="mb-3">6 <span class="badge bg-light-success border border-success"><i
                    class="ti ti-trending-up"></i> 70.5%</span></h4>
             
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xl-3">
          <div class="card">
            <div class="card-body">
              <h6 class="mb-2 f-w-400 text-muted">Completed Appointments</h6>
              <h4 class="mb-3">18,800 <span class="badge bg-light-warning border border-warning"><i
                    class="ti ti-trending-down"></i> 27.4%</span></h4>
              
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xl-3">
          <div class="card">
            <div class="card-body">
              <h6 class="mb-2 f-w-400 text-muted">Total Sales</h6>
              <h4 class="mb-3"> <span class="badge bg-light-danger border border-danger"><i
                    class="ti ti-trending-down"></i> 27.4%</span></h4>
              
            </div>
          </div>
        </div>

        <div class="col-md-12 col-xl-8">
          <div class="d-flex align-items-center justify-content-between mb-3">
            <h5 class="mb-0">Unique Visitor</h5>
            <ul class="nav nav-pills justify-content-end mb-0" id="chart-tab-tab" role="tablist">
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="chart-tab-home-tab" data-bs-toggle="pill" data-bs-target="#chart-tab-home"
                  type="button" role="tab" aria-controls="chart-tab-home" aria-selected="true">Month</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link active" id="chart-tab-profile-tab" data-bs-toggle="pill"
                  data-bs-target="#chart-tab-profile" type="button" role="tab" aria-controls="chart-tab-profile"
                  aria-selected="false">Week</button>
              </li>
            </ul>
          </div>
          <div class="card">
            <div class="card-body">
              <div class="tab-content" id="chart-tab-tabContent">
                <div class="tab-pane" id="chart-tab-home" role="tabpanel" aria-labelledby="chart-tab-home-tab"
                  tabindex="0">
                  <div id="visitor-chart-1"></div>
                </div>
                <div class="tab-pane show active" id="chart-tab-profile" role="tabpanel"
                  aria-labelledby="chart-tab-profile-tab" tabindex="0">
                  <div id="visitor-chart"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-xl-4">
          <h5 class="mb-3">Income Overview</h5>
          <div class="card">
            <div class="card-body">
              <h6 class="mb-2 f-w-400 text-muted">This Week Statistics</h6>
              <h3 class="mb-3">$7,650</h3>
              <div id="income-overview-chart"></div>
            </div>
          </div>
        </div>

      </div>
  </div>
  <!-- [ Main Content ] end -->