<body>
    <aside class="sidebar">
        <div class="brand">
            <div class="brand-icon">
              <i class="fa fa-hospital-o" aria-hidden="true"></i>
            </div>
            <h1>HealthHub</h1>
        </div>
        <nav>
            <div class="nav-item active">
              <i class="fa fa-tachometer" aria-hidden="true"></i>
               
                <a > Dashboard</a>
            </div>
            <div class="nav-item">
               
              <a  >
                
                <span class="pc-mtext">Appointments</span>
              </a>
            </div>
            <div class="nav-item">
              <a><span class="pc-mtext">  Traitements</span></a>
              
            </div>
            <div class="nav-item">
              <a><span class="pc-mtext">  Files</span></a>
                
            </div>
            <div class="nav-item">
             <a> <span class="pc-mtext">   Messaging</span></a>
               
            </div>
        </nav>
    </aside>
  
    <main class="main-content">
        <header class="dashboard-header">
            <h1> Dashboard</h1>
            <div class="header-actions">
                <div class="notification-badge">
                    <i class="fas fa-bell"></i>
                    <div class="badge">3</div>
                </div>
                <div class="user-profile">
                    <div class="avatar"></div>
                    <div>
                        <div class="user-name">Malek yakoudi</div>
                        <div class="user-status">Profil Patient</div>
                    </div>
                </div>
            </div>
        </header>
  
          
          <!-- Contenu principal centré -->
          <div class="content-wrapper">
            <div class="container">
              <div class="header">
                <input type="text" placeholder="🔍 Rechercher..." class="search-bar">
                <div class="filters">
                  <input type="date" class="date-filter">
                  <a class="pc-link" href="/add-appointment">
                    <button class="add-btn">Add appointment</button>
                  </a>
                </div>
              </div>
          
              <table>
                <thead>
                  <tr>
                    <th>Doctor</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Statut</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><img src="doctor1.jpg" class="doctor-img"> Dr. Tom Marshall</td>
                    <td></td>
                    <td></td>
                    <td><span class="status pending"></span></td>
                  </tr>
                </tbody></table></div></div>
  


    